
/*
*,
*::after,
*::before{
margin: 0
}

*/

.filtroDeVehiculos{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100vh;
    
}

.filtroDeVehiculos_panelist-wrap,
.filtroDeVehiculos_panel-wrap,
.filtroDeVehiculos_list-wrap{
    overflow-y: auto;
    
}

.filtroDeVehiculos_panelist-wrap{
    display: flex;
    flex: 1;
    
}

.filtroDeVehiculos_panel-wrap{
   /* background-color: red;*/
    flex-basis: 280px;
    padding: 1rem;
    
}

.filtroDeVehiculos_list-wrap{

    flex: 1;
    padding: 1rem;
}



